:root {
  --background-dark: #353535;
  --background-light: #f3f5f7;
  --letter-color-atention: #6b1cd0;
  --letter-attention: #9a4cff;
  --second-color-letter: #919191;
  --second-color: #d1d1d1be;
  --color-cards-letters: #8393af;
  --color-base: #ffffff;
  --color-base-two: #ae8ef4;
  --color: #c4acf8;
  --color-badge: #620886;
  --header-background: #eeeeee;

  --dark: #111111;
  --light: #ebebeb;
  --label: #000;
}
