/* FONTS GOOGLE  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

@import './root';

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
button,
input {
  font-size: 24px;
}

body {
  margin: 3.5rem 0 0 0;
  background: var(--background-light);
  color: var(--dark);
  transition: 0.4s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  color: var(--color-badge);
  font-weight: bold;
}

button:focus,
input:focus {
  border: 0;
}

html {
  scroll-behavior: smooth;
}

.scrollup {
  position: fixed;
  margin-bottom: -30px;
  right: 40px;
  background: var(--letter-color-atention);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 10;
  transition: 0.4s;

  &:hover {
    opacity: 1;
  }
}

.scrollup_icon {
  font-size: 1.25rem;
  color: var(--color-base-two);
}

.show-scroll {
  bottom: 3rem;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--color-base-two);
/*   border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
  background: var(--letter-color-atention);
  border-radius: 5px;
}

.linkGithubExternalLink .linkExternal {
  margin-left: 15rem;
}